[submodule "libs/antigen"]
	path = libs/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "libs/Vundle.vim"]
	path = libs/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "libs/fonts"]
	path = libs/fonts
	url = https://github.com/powerline/fonts.git
[submodule "os/linux/razer-nari-pulseaudio-profile"]
	path = os/linux/razer-nari-pulseaudio-profile
	url = https://github.com/imustafin/razer-nari-pulseaudio-profile
